Options +FollowSymlinks
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.minimyth\.org$ [NC]
RewriteRule ^(.*)$ http://minimyth.org/$1 [R=301,L]

RewriteRule ^(.+)\.shtml$ http://minimyth.org/$1.html [R=301,NC]
