HOST *
	ChallengeResponseAuthentication no
	Ciphers aes128-cbc,aes192-cbc,aes256-cbc
	HostbasedAuthentication no
	IdentitiesOnly yes
	PasswordAuthentication no
	PreferredAuthentications publickey
	Protocol 2
	PubkeyAuthentication yes
	StrictHostKeyChecking no
