HOST *
	ChallengeResponseAuthentication no
	HostbasedAuthentication no
	IdentitiesOnly yes
	PasswordAuthentication no
	PreferredAuthentications publickey
	Protocol 2
	PubkeyAuthentication yes
	StrictHostKeyChecking no
