ChallengeResponseAuthentication no
Ciphers aes128-cbc,aes192-cbc,aes256-cbc
Port 22
PrintLastLog no
PrintMotd no
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
PermitRootLogin without-password
SyslogFacility AUTHPRIV
Subsystem sftp /usr/libexec/sftp-server
