/******************************************************************************
 * minimyth.css
 ******************************************************************************/

/******************************************************************************
 * Styles for common built-in elements.
 ******************************************************************************/
body {
	background : #ffffff ;
	color : #000000 ;
	text-align : left ;
	font-style : normal ;
	font-variant : normal ;
	font-weight : normal ;
	font-family : "Verdana", "Luxi Sans", Sans-serif ;
	margin : 0 ;
	padding : 0 ;
}
a:link , a:visited , a:active , a:hover { 
	text-decoration : none ; 
	font-weight : bold ;
}
a:link , a:visited { 
	color : #0000ff ;
}
a:active , a:hover { 
	color : #ff0000 ;
}
hr {
	width : 90% ;
}
pre {
	white-space : pre ;
	font-family : "Courier", "Luxi Mono", Monospace ;
}
#load {
    height: 400px;
    line-height: 400px;
    text-align: center;
}
/******************************************************************************
 * Styles for common custom elements.
 ******************************************************************************/
div.heading {
	padding : 0 5px 0 5px ;
	background : #444444 ;
	color : #ffffff ;
	line-height : 1.25em ;
}
div.heading a:link , div.heading a:visited , div.heading a:active , div.heading a:hover { 
	text-decoration : none ; 
	font-weight : normal ;
}
div.heading a:link , div.heading a:visited { 
	color : #ffffff ;
}
div.heading a:active , div.heading a:hover { 
	color : #ff1f1f;
}
div.menu {
	background : #444444 ;
	color : #000000;
	line-height : 1.25em ;
	font-weight : bold ;
}
div.menu a:link , div.menu a:visited , div.menu a:active , div.menu a:hover { 
	text-decoration : none ; 
	font-weight : bold ;
}
div.menu a:link , div.menu a:visited { 
	color : #ffffff ;
}
div.menu a:active , div.menu a:hover { 
	color : #ff1f1f;
}
div.menu span.menuItemFirst {
	padding : 0 0.5em 0 0.5em ;
	text-align : center ;
}
div.menu span.menuItem {
	border-left : solid 1px #000000 ;
	padding : 0 0.5em 0 0.5em ;
	text-align : center ;
}
div.note {
	padding : 5px ;
	background : #444444 ;
	color : #ffffff ;
	vertical-align : top ;
	text-align : right ;
	font-weight : bold ;
}
div.note a:link , div.note a:visited , div.note a:active , div.note a:hover { 
	text-decoration : none ; 
	font-weight : bold ;
}
div.note a:link , div.note a:visited { 
	color : #ffffff ;
}
div.note a:active , div.note a:hover { 
	color : #ff0000 ;
}

/******************************************************************************
 * Styles for 'header' custom element.
 ******************************************************************************/
div.header {
}
div.header div.heading {
	height : 2.5em ;
	font-size : 1.5em ;
}
div.header div.menu {
	font-size : 1.0em ;
}
div.header div.note {
	position : absolute ;
	top : 0px ;
	right : 0px ;
	font-size : 1.0em ;
}

/******************************************************************************
 * Styles for 'middle' custom element.
 ******************************************************************************/
div.middle {
	padding : 5px 10px 5px 10px ;
}
div.middle div.heading {
	margin-left : -10px ;
	margin-right : -10px ;
	padding : 0 5px 0 5px ;
	font-size : 2.0em ;
}
div.middle div.section {
	padding : 5px 0 5px 0 ; 
}
div.middle div.section div.heading {
	margin-left : -10px ;
	margin-right : -10px ;
	padding : 0 5px 0 5px ;
	font-size : 1.5em ;
}

/******************************************************************************
 * Styles for 'footer' custom element.
 ******************************************************************************/
div.footer {
padding : 5px ; 
text-align : center ;
}
div.footer img {
	border : none ;
	margin : 0 ;
	padding : 5px ;
}
div.footer div.valid-xhtml {
	float : left ;
}
div.footer div.valid-css {
	float : right ;
}
div.footer div.version {
	text-align : center ;
}

/******************************************************************************
 * Styles for 'sidebar' custom element.
 ******************************************************************************/
div.sidebar {
	text-align : center ;
	width : 100% ;
}
div.sidebar img {
	border : none ;
	margin : 0 ;
	padding : 5px 0 5px 0 ;
}

/******************************************************************************
 * Containers used to show or hide the 'sidebar'.
 *
 * The 'sidebar' should be contained in 'side'.
 * The 'header', 'middle' and 'footer' should be contained in 'main'.
 ******************************************************************************/
div.main {
	position : absolute ;
	top : 0 ;
	left : 0 ;
	right : 150px ;
}
div.side {
	position : absolute ;
	top : 0 ;
	right : 0 ;
	width : 150px ;
}

/******************************************************************************
 * Hide the 'sidebar' custom element.
 ******************************************************************************/
div.main {
	left : 0 ;
	right : 0 ;
}
div.side {
	display : none ;
}
