images/*
source*
script/*/*/cookies
script/*/*/cookies/*
script/*/*/download
script/*/*/download/*
script/*/*/tmp
script/*/*/tmp/*
script/*/*/work
script/*/*/work/*
*.log
script/*.log
script/*/*.log
script/*/*/*.log

script/meta/minimyth/files/source/Makefile
script/meta/minimyth/burn-image-to-SD-card.sh
script/meta/miniarch/burn-image-to-SD-card.sh

minimyth.conf.mk
hostname
