images/*
source/*
script/*/*/cookies
script/*/*/cookies/*
script/*/*/download
script/*/*/download/*
script/*/*/tmp
script/*/*/tmp/*
script/*/*/work
script/*/*/work/*
*.log
script/*.log
script/*/*.log
script/*/*/*.log

script/meta/minimyth/files/source/Makefile

minimyth.conf.mk*
hostname
