<Configuration>
  <UPnP>
    <MythFrontend>
      <DefaultBackend>
        <LocalHostName>@MM_HOSTNAME@</LocalHostName>
        <DBHostName>@MM_MASTER_SERVER@</DBHostName>
        <DBUserName>@MM_MASTER_DBUSERNAME@</DBUserName>
        <DBPassword>@MM_MASTER_DBPASSWORD@</DBPassword>
        <DBName>@MM_MASTER_DBNAME@</DBName>
        <DBPort>0</DBPort>
      </DefaultBackend>
    </MythFrontend>
  </UPnP>
</Configuration>
