<Configuration>
  <UPnP>
    <MythFrontend>
      <DefaultBackend>
        <LocalHostName>@MM_HOSTNAME@</LocalHostName>
      </DefaultBackend>
    </MythFrontend>
    <UDN>
      <MediaRenderer>a8b048c5-4de6-4e7f-930b-a5bd091611cc</MediaRenderer>
    </UDN>
  </UPnP>
  <LocalHostName>@MM_HOSTNAME@</LocalHostName>
  <Database>
    <PingHost>1</PingHost>
    <Host>@MM_MASTER_SERVER@</Host>
    <UserName>@MM_MASTER_DBUSERNAME@</UserName>
    <Password>@MM_MASTER_DBPASSWORD@</Password>
    <DatabaseName>@MM_MASTER_DBNAME@</DatabaseName>
    <Port>0</Port>
  </Database>
  <WakeOnLAN>
    <Enabled>0</Enabled>
    <SQLReconnectWaitTime>0</SQLReconnectWaitTime>
    <SQLConnectRetry>5</SQLConnectRetry>
    <Command>echo 'WOLsqlServerCommand not set'</Command>
  </WakeOnLAN>
</Configuration>
