<settings version="2">
    <setting id="host">@MM_MASTER_SERVER@</setting>
    <setting id="port">6543</setting>
    <setting id="wsport">6544</setting>
    <setting id="wssecuritypin" default="true">0000</setting>
    <setting id="host_ether" default="true" />
    <setting id="livetv">true</setting>
    <setting id="livetv_priority">true</setting>
    <setting id="livetv_conflict_strategy" default="true">0</setting>
    <setting id="channel_icons">true</setting>
    <setting id="recording_icons">true</setting>
    <setting id="livetv_recordings">true</setting>
    <setting id="group_recordings">1</setting>
    <setting id="use_airdate" default="true">false</setting>
    <setting id="enable_edl" default="true">0</setting>
    <setting id="inactive_upcomings">true</setting>
    <setting id="prompt_delete">true</setting>
    <setting id="root_default_group" default="true">false</setting>
    <setting id="damaged_color" default="true">[COLOR yellow]yellow[/COLOR]</setting>
    <setting id="rec_template_provider">1</setting>
    <setting id="rec_autometadata">true</setting>
    <setting id="rec_autocommflag">true</setting>
    <setting id="rec_autoexpire">true</setting>
    <setting id="rec_autotranscode" default="true">false</setting>
    <setting id="rec_transcoder" default="true">0</setting>
    <setting id="rec_autorunjob1" default="true">false</setting>
    <setting id="rec_autorunjob2" default="true">false</setting>
    <setting id="rec_autorunjob3" default="true">false</setting>
    <setting id="rec_autorunjob4" default="true">false</setting>
    <setting id="extradebug" default="true">false</setting>
    <setting id="allow_shutdown">false</setting>
    <setting id="tunedelay">5</setting>
    <setting id="limit_tune_attempts">true</setting>
    <setting id="backend_bookmarks">true</setting>
</settings>
