# Non-default device permissions.
KERNEL=="rtc",          OWNER="root", GROUP="root" , MODE="0644"

KERNEL=="js*",          OWNER="root", GROUP="root" , MODE="0644"

SUBSYSTEM=="sound",     OWNER="root", GROUP="audio", MODE="0660"

SUBSYSTEM=="drm",       OWNER="root", GROUP="video", MODE="0660"
SUBSYSTEM=="graphics",  OWNER="root", GROUP="video", MODE="0660"
SUBSYSTEM=="dvb",       OWNER="root", GROUP="video", MODE="0660"
SUBSYSTEM=="firewire", ATTR{units}=="*0x00a02d:0x00010*",  OWNER="root", GROUP="video", MODE="0660"
SUBSYSTEM=="firewire", ATTR{units}=="*0x00a02d:0x010001*", OWNER="root", GROUP="video", MODE="0660"
KERNEL=="nvidia[0-9]*", OWNER="root", GROUP="video", MODE="0660"
KERNEL=="nvidiactl",    OWNER="root", GROUP="video", MODE="0660"
KERNEL=="vbi[0-9]*",    OWNER="root", GROUP="video", MODE="0660"
KERNEL=="video[0-9]*",  OWNER="root", GROUP="video", MODE="0660"

KERNEL=="full",         OWNER="root", GROUP="root",  MODE="0666"
KERNEL=="null",         OWNER="root", GROUP="root",  MODE="0666"
KERNEL=="random",       OWNER="root", GROUP="root",  MODE="0666"
KERNEL=="urandom",      OWNER="root", GROUP="root",  MODE="0666"
KERNEL=="zero",         OWNER="root", GROUP="root",  MODE="0666"

# console devices
KERNEL=="tty",          OWNER="root", GROUP="root",  MODE="0666"
KERNEL=="console",      OWNER="root", GROUP="root",  MODE="0600"
KERNEL=="tty[0-9]*",    OWNER="root", GROUP="root",  MODE="0660"

# pty devices
KERNEL=="ptmx",         OWNER="root", GROUP="root",  MODE="0666"
