#-------------------------------------------------------------------------------
#
#-------------------------------------------------------------------------------
ACTION!="add|change", GOTO="end"
KERNEL=="event[0-9]*",  SUBSYSTEM=="input", PROGRAM="mm_persistent", RESULT=="?*", SYMLINK+="$result", GOTO="end"
KERNEL=="hiddev[0-9]*", SUBSYSTEM=="usb",   PROGRAM="mm_persistent", RESULT=="?*", SYMLINK+="$result", GOTO="end"
KERNEL=="js[0-9]*",     SUBSYSTEM=="input", PROGRAM="mm_persistent", RESULT=="?*", SYMLINK+="$result", GOTO="end"
KERNEL=="lcd[0-9]*",    SUBSYSTEM=="lcd",   PROGRAM="mm_persistent", RESULT=="?*", SYMLINK+="$result", GOTO="end"
KERNEL=="lirc[0-9]*",   SUBSYSTEM=="lirc",  PROGRAM="mm_persistent", RESULT=="?*", SYMLINK+="$result", GOTO="end"
KERNEL=="mouse[0-9]*",  SUBSYSTEM=="input", PROGRAM="mm_persistent", RESULT=="?*", SYMLINK+="$result", GOTO="end"
KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty",   PROGRAM="mm_persistent", RESULT=="?*", SYMLINK+="$result", GOTO="end"
LABEL="end"
