
SUBSYSTEM=="rc", ATTRS{protocols}=="*lirc*" RUN+="/bin/sh -c 'echo lirc > /sys$env{DEVPATH}/protocols'"

# The streamzap remote control behaves strangely when more than one protocol is enabled.
ACTION=="add", SUBSYSTEM=="rc", DRIVERS=="streamzap", TEST=="protocols", ATTR{protocols}="rc-5-sz"
