#!/bin/sh

# this script is called at very erlay boot from /etc/rc.d/init.d/modules_manual_early.
# it is useful for any actions on system before init scripts will be executed.
# name of script should be equal to string <model> in dt with all spaces removed.
# i.e. if model in dt is <Raspberry Pi 5 Model B Rev 1.0>, filename should <RaspberryPi5ModelBRev1.0>.
# you can determine required scrpit name by looking for value of variable MM_HW_DEVICE_NAME
# in /etc/conf.d/hwdevice file under running system.

