
# Comments are only allowed at the beginning of a line

dtb_img=dtbs/amlogic/meson-s4-s905y4-khadas-vim1s.dtb

bootargs0=root=${root} rootwait rw clk_ignore_unused pd_ignore_unused debug
bootargs1=earlycon=meson,0xfe07a000 console=ttyS0,921600n8 no_console_suspend consoleblank=0
# required to avoid kernel oops an early userspace init (kernel tries create ttyS0 console colliding with already present ttyS0)
bootargs2=8250.nr_uarts=0 cma=384M
