DirectoryIndex index.php index.shtml index.html

Redirect permanent /dnload/gar-source      http://linpvr.org/minimyth/download/garchive
Redirect permanent /dnload/releases/beta   http://linpvr.org/minimyth/download/test
Redirect permanent /dnload/releases/latest http://linpvr.org/minimyth/download/stable/latest
Redirect permanent /dnload/releases/old    http://linpvr.org/minimyth/download/stable/old
Redirect permanent /dnload/releases        http://linpvr.org/minimyth/download
Redirect permanent /dnload                 http://linpvr.org/old/dnload

Redirect permanent /minimyth               http://minimyth.org
Redirect permanent /forum                  http://minimyth.org/forum
