/******************************************************************************
 * linpvr-sidebar-hide.css
 ******************************************************************************/

/******************************************************************************
 * Hide the 'sidebar' custom element.
 ******************************************************************************/
div.main {
	left : 0 ;
	right : 0 ;
}
div.side {
	display : none ;
}
