/******************************************************************************
 * status.css
 ******************************************************************************/

/******************************************************************************
 * Styles for 'status' custom element.
 ******************************************************************************/
div.status {
	margin: 10px ;
	border-top : 1px solid #444444 ;
	border-right : 1px solid #444444 ;
	border-bottom : 1px solid #444444 ;
	border-left : 5px solid #444444 ;
	padding : 5px ;
	font-family : "Courier", "Liberation Mono", Monospace ;
	white-space : pre ;
}
div.status span.temp_cool {
	color : #00ff00 ;
}
div.status span.temp_warm {
	color : #ff7f00 ;
}
div.status span.temp_hot {
	color : #ff0000 ;
}
